{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/home_style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
    <div class="home_hero">
        <div class="navbar">
            <a href="#place"> About </a>
            <a href="https://github.com/AndyMasc/Lumen"> GitHub </a>
            {% if user.is_authenticated %}
                <a href="{% url 'workspace:dashboard' %}"> Dashboard </a>
                <a href="#Settings"> Settings </a>
                <a href="{% url 'authenticate:signout' %}"> Sign out </a>
            {% else %}
                <a href="{% url 'authenticate:register' %}"> Register </a>
                <a href="{% url 'authenticate:signin' %}"> {% csrf_token %} Sign in </a>
            {% endif %}
        </div>
        <div class="hero-text-section">
            <h1> Lumen delivers early clarity for bold startups </h1>
            <p>
                Lumen analyzes your startup concepts against real industry data to
                deliver actionable insights that help founders make smarter decisions faster.
            </p>
            <div class="CTA-button">
                {% if user.is_authenticated %}
                <a href="{% url 'workspace:dashboard' %}">
                    View your dashboard
                    <b>
                        {% if request.user.username|length <= 10 %}
                            {{ request.user.username }}
                        {% endif %}
                    </b>
                </a>
                {% else %}
                    <a href="{% url 'authenticate:register' %}"> Start using Lumen </a>
                {% endif %}
            </div>
        </div>
        <img src="{% static 'home/images/HeroImg.png' %}" alt="Demo Image">
    </div>
    <div class="ScrollDown">
        <img src="{% static 'home/images/DownArrow.png' %}" alt="Scroll Down">
    </div>
    </div>
{% endblock %}