body {
    background-color: black;
}

h1 {
    color: white;
    font-family: Poppins;
    text-align: center;
    font-size: 45px;
}

.option, .danger-zone {
    background-color: #1e2025;
    border-radius: 15px;
    padding: 10px 20px;
    width: 40%;
    box-sizing: border-box;
    margin: 2% auto 2% auto ;
}

.danger-zone {
    background-color: rgb(255, 0, 0, 0.1);
    border: 2px solid #5c0009;
    text-align: center;
}

.danger-zone h2 {
    color: white;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
}

.option h2 {
    color: white;
    font-family: Poppins;
    font-size: 15px;
}

.option p {
    color: #cccccc;
    font-family: Poppins;
    font-size: 20px;
}

.option a {
    color: skyblue;
    font-family: Poppins;
    text-decoration: none;
}

.del-option, .save-changes, input[type="text"] {
    padding: 8px 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 15px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    background-color: #14161a;
    border: solid 2px #212121;
    transition: all 0.4s ease;
    transform: scale(1);
    margin-bottom: 15px;
}

.save-changes {
    width: 40%;
    height: 50px;
    text-decoration: none;
    background-color: #1e2025;
    border: none;
    margin: auto;
    display: block;
}

.save-changes:hover {
    background-color: #26282d;
}

.del-option {
    background-color: #5c0009;
    width: 100%;
    margin: 2% auto 2% auto;
    border: solid black;
    text-align: center;
    font-size: 15px;
}

.del-option a {
    text-decoration: none;
    color: white;
}

.del-option:hover {
    background-color: #a62b35;
}