{% extends 'base.html' %}

{% block head %}
    {% load static %}

    <link rel="stylesheet"  href="{% static 'authenticate/css/register.css' %}">
{% endblock %}

{% block content %}
    <div class="title">
        <h1> <span style="color:WhiteSmoke"> Create a Lumen account </span> </h1>
    </div>
    <div class="form">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                <p> {{ field.label }} </p>
                {{ field }}
            {% endfor %}
            <input type="submit" value="CREATE ACCOUNT">
            <p> Already registered? <a href="{% url 'authenticate:login' %}"> Log In </a> </p>
        </form>
    </div>
{% endblock %}
