{% extends 'base.html' %}

{% block head %}
    {% load static %}

    <link rel="stylesheet"  href="{% static 'authenticate/css/register.css' %}">
{% endblock %}

{% block content %}
    <div class="title">
        <h1> <span style="color:WhiteSmoke"> Create an account </span> </h1>
    </div>
    <div class="container">
        <div class="form">
            <form method="POST" action="">
                {% csrf_token %}
                {% for field in form %}
                    <h3> {{ field.label }} </h3>
                    {{ field }}
                {% endfor %}
            </form>
            {{ form.errors }}
            <input type="submit" value="Register account">
            <a href="{% url 'authenticate:login' %}"> <span style="color:WhiteSmoke"> Already registered? Log In </span> </a>
        </div>
    </div>
{% endblock %}
