{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet"  href="{% static 'workspace/css/add_startup_style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <span style="color:white">
                {% block title %} Tell us about your startup {% endblock %}
            </span>
        </h1>
        <div class="form">
            <form method="POST" action="" autocomplete="off">
                {% csrf_token %}
                    <input type="text" id="startup_name" name="startup_name" placeholder="Startup Name" class="startup-name" maxlength="100" required>
                    <textarea id="description" name="description" placeholder="Describe your startup" class="description" maxlength="5000" required></textarea>
                {% block submit %}
                    <input type="submit" value="Validate your startup idea">
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}