{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/dash_style.css' %}">
{% endblock %}

{% block content %}
    <h1> Tell us about your startup </h1>
    <form action="" method="POST">
        {% csrf_token %}
        <ul>
            <li> <input type="text" id="startup_name" name="startup_name" placeholder="Startup Name"> </li>
            <li> <input type="text" id="description" name="description" placeholder="Briefly describe your startup"> </li>
            <li> <input type="submit" value="Submit form"> </li>
        </ul>
    </form>
    <a href="{% url 'workspace:dashboard' %}"> Return to dashboard? </a>
{% endblock %}