{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'workspace/css/dash_style.css' %}">
{% endblock %}

{% block content %}
    <div class="navbar">
        {% if user.is_authenticated %}
            <a href="{% url 'home:index' %}"> Return home </a>
            <a href="{% url 'workspace:add_startup' %}"> + Add a startup </a>
        {% endif %}
    </div>
    <div class="container">
        <div class="heading">
            <h1> {{ request.user.username }}'s startups </h1>
            <p> Track and manage all of your startup ventures in one place. <br> A startups first evaluation may take a while to generate. Wait to be redirected. </p>
        </div>
        <div class="widgets-container">
            {% if startups %}
                {% for startup in startups %}
                    <a href="{% url 'workspace:startup_evaluation' startup.id %}" style="text-decoration:none;">
                        <div class="startup-widget">
                            <div class="startup-widget-contents">
                                <h2 style="color:white;"> {{ startup.startup_name }}<!-- <span>  {{ startup.tags }} </span> --> </h2>
                                <p style="color:#cccccc;"> {{ startup.description }} </p>
                                <button class="delete-btn" onclick="event.preventDefault(); event.stopPropagation(); window.location.href='{% url 'workspace:delete_startup' startup.id %}'">
                                    Delete evaluation
                                </button>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
            <a href="{% url 'workspace:add_startup' %}" style="text-decoration:none;">
                <div class="startup-widget">
                    <div class="startup-widget-contents">
                        <h2 style="color:#838385;"> + Add a startup </h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}